
body{

  background-image: url('./pictures/flocon4.gif'), url('./pictures/house.png'), url('./pictures/snow5.png'),url('./pictures/oiseau2.gif'),url('./pictures/snow.png'),linear-gradient(#0c0570,#5a5fac,#f6863c,#ffdf88, #ebf8e1 );
  background-repeat:repeat, no-repeat, repeat-x, repeat-x, repeat-x, no-repeat;
  background-position:right;
  background-size:contain;
  height: 600px;
}

.containerBody{
  background-image:url('./pictures/exterieur.jpg');
  background-color: #000000;
  background-size:cover;
  background-position:50% 69%;
  background-repeat: no-repeat;
  width:100%;
  padding-top: 2%;
  padding-bottom: 9.4%;

}
.containerBodyHome{
  background-image:url('./pictures/exterieur2.jpg');
  background-color: #000000;
  background-size:cover;
  background-position:50% 0%;
  background-repeat: no-repeat;
  width:100%;
  height:935px;
  padding-top: 2%;
  padding-bottom: 11.9%;

}
.containerBodyLogin{
  background-image:url('./pictures/exterieur.jpg');
  background-color: #000000;
  background-size:cover;
  background-position:50% 69%;
  background-repeat: no-repeat;
  width:100%;
  padding-top: 2%;
  padding-bottom: 13.9%;

}

.containerBodyRegister{
  background-image:url('./pictures/exterieur.jpg');
  background-color: #000000;
  background-size:cover;
  background-position:50% 69%;
  background-repeat: no-repeat;
  width:100%;
  padding-top: 2%;
  padding-bottom: 5%;

}

.containerHome{
  background-color: rgba(70, 66, 110, 0.842);
  width:600px;
  height:400px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top:10%;
  margin-left: 35%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
}

.container{
  background-color: rgba(70, 66, 110, 0.925);
  padding-left:50px;
  padding-right:50px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 2%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
}

.containerButtonStandard{
  margin-left: 42%;
  margin-top: 5%;
  margin-bottom: 5%;

}

.containerLinkHome{
  height: 250px;
  width:290px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin-left: 20%;
  margin-top: 10%;
  text-align: center;
  font-size: 20px;
}

.container_summary{
  width:100%;
  margin-top: 6%;

}
.containerSummary{
  background-image: url('./pictures/background10.png'), url('./pictures/background11.png');
  background-color:#012539;
  background-repeat: repeat-x;
  background-size:contain;
  padding-top: 0%;
  height:1000px;
  display:flex;
  justify-content:center;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color:white;
}
.containerSummaryUpdate{
  background-image: url('./pictures/background10.png'), url('./pictures/background11.png');
  background-color:#012539;
  background-size:contain;
  padding-top: 0%;
  padding-bottom: 20.3%;
  display:flex;
  justify-content:center;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color:white;
}

.containerUpdate{
  background-color: rgba(70, 66, 110, 0.89);
  padding-left:50px;
  padding-right:50px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 6%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
  text-align: center;
  height:370px;
 
}
.containerCategorie{
  background-color: #46426eb6;
  padding:100px;
  display:flex;
  justify-content:center;
  margin-top: 50px;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color:white;
  min-height:500px;
  width:1100px;
}

.containerCategorieQA{
  background-color: #46426eb6;
  padding:100px;
  display:flex;
  justify-content:center;
  margin-top: 50px;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color:white;
  min-height:500px;
  width:1100px;
}

.containerQuizCreate{
  background-color: #46426eb6;
  display:flex;
  padding-left:5%;
  padding-right:5%;
  padding-bottom: 3%;
  justify-content:center;
  margin-top: 50px;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color:white;
  min-height:500px;
  width:1100px;
  font-size: 20px;
}

.containerCategorieGame{
    background-color: #46426eb6;
  padding:5%;
  display:flex;
  flex-flow: row wrap;
  justify-content:center;
  margin-top: 50px;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color:white;
  width:80%;
}
.containerSummaryQA{
  background-image: url('./pictures/background11.png'),url('./pictures/flocon4.gif');
  background-repeat: repeat-x;
  background-color:#012539;
  background-size:contain;
  width:100%;
  padding-top: 0%;
  display:flex;
  justify-content:center;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color:white;
}
.containerSummaryQACreate{
  background-image: url('./pictures/background11.png'),url('./pictures/flocon4.gif');
  background-repeat: repeat-x;
  background-color:#012539;
  background-size:contain;
  width:100%;
  padding-top: 0%;
  padding-bottom: 7%;
  display:flex;
  justify-content:center;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color:white;
}
.containerPlayer{
  background-image:url('./pictures/flocon4.gif');
  background-repeat: repeat-x;
  background-size:cover;
  padding-top: 0%;
  display:flex;
  justify-content:center;
  border-radius:5px;
  color:white;
  padding-bottom: 2%;

}

.containerTeamBuilding{
  background-image: url('./pictures/flocon4.gif'), url('./pictures/house.png'),url('./pictures/snow5.png'),url('./pictures/snow.png'),linear-gradient(#3cf0f6,#fad688,#ffdf88, #ebf8e1 );;
  background-repeat:repeat, no-repeat, repeat-x, repeat-x, no-repeat;
  background-position:right;
  background-size:contain;
  padding-top: 0%;
  display:flex;
  justify-content:center;
  color:white;
  padding-bottom:5.5%;
}

.containerTeamBuilding2{
  background-image: url('./pictures/flocon4.gif'), url('./pictures/house.png'),url('./pictures/snow5.png'),url('./pictures/snow.png'),linear-gradient(#f6423c,#f6bb3c,#ffdf88, #ebf8e1 );;
  background-repeat:repeat, no-repeat, repeat-x, repeat-x, no-repeat;
  background-position:right;
  background-size:contain;
  padding-top: 2%;
  display:flex;
  justify-content:center;
  color:white;
  padding-bottom:2%;
}

.container_question{
  color:#46426E;
  font-weight: bold;
  width:1000px;
  margin-bottom:3%;
}

.container_question2{
  background-color:#46426E;
  font-weight: bold;
  width:1000px;
  color:white;
}

.container_question textarea{
  width:100%;
}
.containerTeam{
  background-color: rgba(70, 66, 110, 0.911);
  padding-left:50px;
  padding-right:50px;
  padding-bottom: 60px;
  padding-top: 20px;
  margin-top: 2%;
  margin-left: 5%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
}

.containerTeamRandom{
  background-color: rgb(70, 66, 110);
  text-align: center;
  padding-left:50px;
  padding-right:50px;
  padding-top: 20px;
  margin-top: 2%;
  margin-left: 0%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
}
.containerTeamRandomResultRandom{
  background-color: rgb(70, 66, 110);
  text-align: center;
  padding-left:4%;
  padding-right:4%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 2%;
  margin-left: 0%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
}
.containerButtonGame{
  background-image: url('./pictures/bonnet.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 18.5%;
  border-radius:50%;
  z-index: 10;
  margin-left: 85%;

}
.containerButtonGameContinue{
  background-image: url('./pictures/bonnet.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 22.5%;
  border-radius:50%;
  z-index: 10;
  margin-left: 81%;

}
.containerAvatarPresentation{
  display: flex;
  flex-flow: column wrap;
  width:35%;
  margin-left: 5%;
}
.containerAvatarPresentationTitle{
  display: flex;
  flex-flow: row wrap;
  justify-content:left;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width:800px;

}
.containerAvatarPresentationTitle h2{
  margin-top: 6%;
}

.containerRulers{
  color:white;
  background-color:#746fb4;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.containerTeamBuildingResultRandom{
  background-image: url('./pictures/flocon4.gif'), url('./pictures/house.png'), url('./pictures/snow5.png'),url('./pictures/oiseau2.gif'),url('./pictures/snow.png'),linear-gradient(#f6423c,#f6bb3c,#ffdf88, #ebf8e1 );;
  background-repeat:repeat, no-repeat, repeat-x, repeat-x, repeat-x, no-repeat;
  background-position:right;
  background-size:contain;
  padding-top: 0%;
  display:flex;
  justify-content:center;
  color:white;
  padding-bottom:3%;
}

.containerTeamBuildingCategorie{
  background-image: url('./pictures/flocon4.gif'), url('./pictures/house.png'), url('./pictures/snow5.png'),url('./pictures/oiseau2.gif'),url('./pictures/snow.png'),linear-gradient(#f6423c,#f6bb3c,#ffdf88, #ebf8e1 );;
  background-repeat:repeat, no-repeat, repeat-x, repeat-x, repeat-x, no-repeat;
  background-position:right;
  background-size:contain;
  padding-top: 2%;
  display:flex;
  justify-content:center;
  color:white;
  padding-bottom:8.5%;
}
.containerTeamBuildingCategorieUsed{
  background-image: url('./pictures/flocon4.gif'), url('./pictures/house.png'), url('./pictures/snow5.png'),url('./pictures/oiseau2.gif'),url('./pictures/snow.png'),linear-gradient(#f6423c,#f6bb3c,#ffdf88, #ebf8e1 );;
  background-repeat:repeat, no-repeat, repeat-x, repeat-x, repeat-x, no-repeat;
  background-position:right;
  background-size:contain;
  padding-top: 2%;
  display:flex;
  justify-content:center;
  color:white;
  padding-bottom:4.5%;
}

.containerTeamBuildingContinueGame{
  background-image: url('./pictures/flocon4.gif'), url('./pictures/house.png'), url('./pictures/snow5.png'),url('./pictures/oiseau2.gif'),url('./pictures/snow.png'),linear-gradient(#f6423c,#f6bb3c,#ffdf88, #ebf8e1 );;
  background-repeat:repeat, no-repeat, repeat-x, repeat-x, repeat-x, no-repeat;
  background-position:right;
  background-size:contain;
  padding-top: 0%;
  display:flex;
  justify-content:center;
  color:white;
  padding-bottom:5.5%;
}
.containerCategorieButton{
  width:380px;
  margin:30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color:#46426E;
  text-align: center;
  border-radius:5px;
  font-size: 45px; 
  height: 130px;
  padding-top: 2%;
}
.containerCategorieButton:hover{
  background-color: #6c66ad;
  color:white;
}
.containerCategorieButtonUsed{
  width:380px;
  margin:30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color:grey;
  text-align: center;
  border-radius:5px;
  font-size: 45px; 
  height: 130px;
  padding-top: 2%;
}
.containerQuiz{
  background-image: url('./pictures/flocon4.gif'), url('./pictures/house.png'), url('./pictures/snow5.png'),url('./pictures/oiseau2.gif'),url('./pictures/snow.png'),linear-gradient(#f6423c,#f6bb3c,#ffdf88, #ebf8e1 );;
  background-repeat:repeat, no-repeat, repeat-x, repeat-x, repeat-x, no-repeat;
  background-position:right;
  background-size:contain;
  padding-top: 2%;
  display:flex;
  justify-content:center;
  color:white;
  padding-bottom:4%;
}

.containerQuizQA{
  background-color: #46426e;
  padding: 50px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width:60%;
  margin-left: 20%;
  margin-top: 2%;
  min-height: 600px;
}

.containerQuizQA h1{
  text-align: center;
  margin-top: 50px;
  color:white;

}
.containerQuizQA h3{
  text-align: center;
  margin-top: 30px;
  color: yellow;

}

.containerQuizQA h4{
  margin-top: 10px;
  margin-bottom: 30px;
  font-style: italic;

font-weight: bold;
}
.form-check{
  margin-left: 15%;
  margin-bottom: 2%;
}

.containerButtonQuiz{
  margin-left: 85%;
  margin-top: 10%;
}

.containerResult{
  background-image:url('./pictures/flocon.gif'),url('./pictures/snow7.png'),url('./pictures/exterieur2.webp');
  background-color: white;
  background-repeat:no-repeat;
  background-position: 50% 80%;
  background-size:cover;
  padding-top: 0%;
  display:flex;
  justify-content:center;
  color:white;
  padding-bottom: 4.5%;

}

.containerResultText{
  background-color: #46426ecc;
  width:60%;
  margin-top: 1%;
  border-radius: 5px;

}

.container-result{
  background-color:white;
  color:#46426E;
  display: flex;
  width:80%;
  padding: 50px;
  padding-top: 5px;
  margin-bottom: 2%;
}

.containerProposeLeave{
  background-color: #46426ecc;
  width:60%;
  padding: 100px;
  padding-top: 50px;
  margin-top: 5%;
  margin-bottom: 9%;
  text-align: center;
}
.containerResultTeam{
  background-color: #46426ecc;
  width:60%;
  padding: 100px;
  padding-top: 50px;
  margin-top: 5%;
  margin-bottom: 9%;
}
.containerResultTeamFinal{
  background-image: url('./pictures/confetti2.gif');
  background-color: #46426ef3;
  width:60%;
  padding: 100px;
  padding-top: 50px;
  margin-top: 3%;
  margin-bottom: 6%;
  text-align: center;
}
.containerLinkResult{
  width:60%;
  display:flex;
  margin-left: 40%;
  justify-content: space-between;
  margin-top: 8%;
}
.containerLinkResultFinal{
  display:flex;
  justify-content: space-between;
  margin-top: 3%;
}
.containerLinkResultFinal2{
  display:flex;
  justify-content: space-between;
  margin-top: 3%;
  padding-top: 10%;
  width:40%

}
.containerConditions{
  text-align: center;
  margin-top: 50px;

}

.containerTeamMax{
  background-color: rgba(70, 66, 110);
  padding-left:50px;
  padding-right:50px;
  padding-bottom: 60px;
  padding-top: 50px;
  margin-top: 2%;
  border-radius:5px;
  margin-right: 3%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
}

.containerTeamBuildingMax{
  background-image: url('./pictures/flocon4.gif'), url('./pictures/house.png'),url('./pictures/snow5.png'),url('./pictures/snow.png'),linear-gradient(#3cf0f6,#fad688,#ffdf88, #ebf8e1 );;
  background-repeat:repeat, no-repeat, repeat-x, repeat-x, no-repeat;
  background-position:right;
  background-size:contain;
  padding-top: 0%;
  display:flex;
  justify-content:center;
  color:white;
  padding-bottom:8%;
}

.containerLinkRandom{
  margin-top: 10%;
}

.containerResultFinal{
  background-image:url('./pictures/fond_final2.gif');
  background-color: black;
  background-repeat:no-repeat;
  background-position: 60% 72%;
  background-size:95%;
  padding-top: 0%;
  display:flex;
  justify-content:center;
  color:white;
}
.containerResultFinalGame{
  background-image:url('./pictures/fond_final3.gif');
  background-color: black;
  background-repeat:no-repeat;
  background-position: 50% 70%;
  background-size:cover;
  padding-top: 0%;
  display:flex;
  justify-content:center;
  color:white;
  padding-bottom: 8%;
}

.containerStart{
  background-image:url('./pictures/fond4.gif');
  background-size:1080px;
  background-repeat: no-repeat;
  background-position:50% 0%;
  background-color:#012539;
  padding-bottom: 43%;

}
.containerButtonProposeLeave{
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  margin-left: 13%;
  width:70%;
}
/* ****************************************************************************************************************** */
/* ******************************************** Buttons ************************************************************* */
.buttonStandard{
  border-radius:5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 15px;
  width:150px;
  height: 65px;
  background-color: #46426E;
  border:none;
  color:white;
  font-weight: bold;
  text-transform: uppercase;
}
.buttonStandard:hover{
  color:#46426E;
  background-color: white;
  box-shadow: rgba(255, 254, 254, 0.4) 0px 0px 0px 2px, rgba(40, 41, 43, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.buttonAdmin{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
  padding: 5px;
  background-color:#9C242D;
  border:none;
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 19px;
  margin-top:-3.5px;
}

.buttonAdmin:hover{
  background-color:#d8323d;

}

.buttonValid{
  background-color: #46426E;
  border-radius: 5px;
  border:none;
  font-size: 19px;
  padding:5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
  color:white;

}
.buttonValidQuestion{
  background-color: #46426E;
  border-radius: 5px;
  border:none;
  font-size: 19px;
  padding:5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
  color:white;
  margin-right: -13%;

}
.buttonValid:hover{
  background-color: #746fb4;

}

.buttonLeave{
  border-radius:5px;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 15px;
  width:150px;
  height: 65px;
  background-color: white;
  border:none;
  color:#46426E;
  font-weight: bold;
  text-transform: uppercase;
}


.buttonLeave:hover{
  background-color: #000000;
  color: yellow;
}
/* ***************************************** interface Player *********************************************** */
.buttonPlayerContainer{
  margin-left: 18%;
  margin-top: 10%;
}
.playButton{
  padding:45px 30px;
  background-color: white;
  border-radius:50%;
  text-decoration:none;
  color:#083D55;
  font-size: 35px; 
}
.playButton:hover{
  color:#083D55;
  background-color: #fbff00;
}

/* *************************************************Interface TeamBuilding **************************************************** */
.avatar_button{
  width:100px;
  height:100px;
  padding:0;
  border: none;
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.avatar_button_nav{
  width:100px;
  height:100px;
  padding:0;
  border: none;
  margin-right: 10px;
  background-color: #46426E;

}

.avatar_button:focus{

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  filter: contrast(90%);
  border-radius: 50%;

} 
.avatar_button:hover{

  filter: contrast(60%);
  border-radius: 50%;

} 

.color_button{
  width:90px;
height:90px;
border-radius: 50%;
border: none;
padding: 0;
margin-right: 50px;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
margin-bottom: 25px;
margin-top: 25px;

}

.color_button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.color_button:focus{

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  filter: contrast(50%);

} 
.color_button_random{
  width:110px;
height:110px;
border-radius: 50%;
border: none;
padding: 0;
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
margin-top: 25px;
margin-left: 40%;
margin-bottom: 2%;
}

.color_button_random:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.color_button_random:focus{

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  filter: contrast(50%);

} 
.buttonGame{
  border-radius:50%;
  padding: 1px;
  width:120px;
  height: 120px;
  margin-top: 75px;
  margin-left:3%;
  background-color: rgba(255, 255, 255, 0.123);
  border:none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  color:red;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  z-index:1;
}


.containerbuttonRandom{
  border-radius: 50%;
  height:140px;
  width:140px;
  padding:5px;
  padding-top: 6.5%;
  font-size: 20px;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;  background-color: transparent;
  background-image:url('./pictures/color.gif') ;
  border:#46426E;
  color:white;
  margin-bottom: 3%;
  margin-left: 40%;
}

.buttonRandom{
  text-decoration: none;
  color:white;
}

.categorieButton{
  text-decoration:none;
  color:white;
}


.categorieButton:hover{
  text-decoration:none;
  color:white;
}
.categorieButtonUsed{
  color:white;
  background-color: transparent;
  border:none;
}
.categorieStart{
  background-image:url('./pictures/roue.gif');
  background-size:100%;
  background-position: 50%;
  background-color: transparent;
  border:none;
  border-radius: 50%;
  font-size: 30px;
  text-transform: uppercase;
  padding: 140px;
  margin-top: 1%;
  color: white;
}

.containerQuizCreate button{
  width:100%;
  }

  .hover{
color:transparent;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  width:150px;
  }
  .hover:hover{
    border: 1px solid #888;
    color:yellow;
    border-radius: 5px;
  }

/* ****************************************************************************************************************** */
/* ***********************************************LINK ************************************************************** */
.linkStandard{
  border-radius:5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 20px;
  background-color: #46426E;
  border:none;
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 5px;
}
.linkStandardContinue{
  border-radius:5px;
  box-shadow: rgba(255, 254, 254, 0.4) 0px 0px 0px 2px, rgba(40, 41, 43, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 20px;
  background-color: rgb(141, 8, 8);
  border:none;
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  height:65px;
}

.linkStandardContinue:hover{
  color:white;
  background-color: rgb(199, 86, 86);
  box-shadow: rgba(255, 254, 254, 0.4) 0px 0px 0px 2px, rgba(40, 41, 43, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.linkStandardLeave{
  border-radius:5px;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 15px;
  width:150px;
  padding-left:38px;
  padding-top: 20px;
  height: 65px;
  background-color: white;
  border:none;
  color:#46426E;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.linkStandard:hover{
  color:white;
  background-color: #6c66ad;
  box-shadow: rgba(255, 254, 254, 0.4) 0px 0px 0px 2px, rgba(40, 41, 43, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.linkGoogle{
  border:none;
  text-decoration: none;
  width:290px;
}


.linkAdmin{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
  padding: 5px;
  background-color:#DCC3A6;
  border:none;
  color:white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 19px;

}
.linkAdmin:hover{
  background-color:#b9a58d;

}

.linkAdminCreate{
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color:white;
  font-size: 22px;
}

.linkGame{
  border-radius:50%;
  padding: 40px 30px;
  background-color: rgba(255, 255, 255, 0.123);
  border:none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  color:red;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  z-index:1;
  text-decoration: none;
  margin-left: 77%;

}
.bonnet{
float:right;
position: absolute;
margin-left: 19.5%;
margin-top: -6%;

}
.linkStandardContainerResult{
  margin-left: 72%;
  margin-top: 1%;
}

/* ******************************************************************************************************************* */
/* ***************************************************** LABEL ******************************************************* */
label{
  font-size: 20px;
}


.containerTeam label{
  font-size: 25px;
}

/* *******************************************************TITLE ****************************************************** */


.containerCategorie h1, h3{
  text-align: center;
  margin-bottom: 5%;
}

.containerCategorieQA h1, h3{
  text-align: center;
  margin-bottom: 5%;
}
.containerCategorie h5{
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 20px;
}

.titleCategorieChoice{
  color:yellow;
  text-transform: uppercase;
  font-style: italic;
}

.containerResultText h1{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;

}
.containerResultText h1 span{
  color:#FFB900;
}
.container-result h4{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  font-style: italic;

}



.container-result p{
  color:#6c66ad;
}

.containerResultTeam h1{
  text-align: center;
  margin-bottom: 50px;
}

.containerResultTeam th{
  color:black;
  font-size: 22px;

}

.containerResultTeam td{
  font-size: 22px;
}

.containerResultTeam td:nth-child(2){
  color:#f6bb3c;
}
.containerResultTeam td:nth-child(3){
  color:grey;
}
.containerResultTeam td:nth-child(4){
  color:rgb(160, 108, 12);
}
.containerResultTeam td:nth-child(5){
  color:black;
}


.containerResultTeamFinal h1{
  text-align: center;
  margin-bottom: 50px;
}
.containerResultTeamFinal h2{
  text-align: center;
  margin-bottom: 50px;
  color:#FFB900;
}
.win{
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;

}
.containerResultTeamFinal th{
  color:black;
  font-size: 22px;

}

.containerResultTeamFinal td{
  font-size: 22px;
}

.containerResultTeamFinal td:nth-child(2){
  color:#f6bb3c;
}
.containerResultTeamFinal td:nth-child(3){
  color:grey;
}
.containerResultTeamFinal td:nth-child(4){
  color:rgb(160, 108, 12);
}
.containerResultTeamFinal td:nth-child(5){
  color:black;
}
.containerConditions h2{
  color:white;
} 
.containerConditions h3{
  color:yellow;
} 

.containerQuizCreate select{
width:100%;
padding:15px;
margin-bottom: 5px;

}

.containerQuizCreate input{
  padding:15px;
  width:100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border:rgb(211, 210, 210) 1px solid;
  border-radius: 5px;

}

.indicationQuiz{
  font-style: italic;
  font-size: 15px;
  color:grey;
  font-weight: normal;
}
/* ******************************************************************************************************************** */
/* ***************************************************************IMG ************************************************* */
.containerTeam img{
  margin-top: 5%;
  margin-left: 7%;
  border-radius: 200px;
  border: #46426E 3px solid;
}

.containerTeamMax img{
  margin-top: 5%;
  margin-left: 2%;
  border-radius: 200px;
  border: #46426E 3px solid;
}


.containerTeamRandomdiv img{
  width:400px;

}
/* ******************************************************************************************************************** */

/* *********************************************NAV ******************************************************** */
.nav{
  background-color: #46426E;
  height:110px;
}

.titleNav{
  color:white;
  margin-left:500px;
  margin-top:2%;
}
.nav-link-color{
  color:#FF0000;
}
.nav-link-color:hover{
  color:white;
}
.nav-link-color:active{
  color:yellow;
}
.identifiantNav{
  margin-left:20%;
  margin-top:1%;
  text-decoration:none; 
  font-size: 23px;
}

.dropdown-menu{
  background-color: #46426E;
  border:none;
}

.dropdown-item{
  color:white;
  font-size: 19px;

}
.itemNavTeam{
  margin-left: 125%;
  width:500px;
  display:flex;
}
.titleNavTeam{
  padding-left: 2%;
  font-size: 50px;
  margin-top: 3%;
}


/* ************************************************************************************************************** */

/* ********************************************************* Modal ********************************************** */
.modal{
  background-color: #46426E;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.modal h3{
  color:black;
  text-align: center;
}
.modal h5{
  color:black;
  text-align: center;
}
.modal img{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 50%;
  margin-left: 15%;
}

/* **************************************************************************************************************** */

/* *********************************************************Interface Admin ***********************************/

  .no_categorie_show{
    margin-bottom: 50px;
  }

  .container_summary h1{
    text-align: center;
    margin-bottom: -70px;
    color:white;
  }
  .container_summary ul{
    border:none;
    background-color: rgba(70, 66, 110, 0.918);
    margin-left: 15%;
    width:70%;
    height:100%;
    padding-top: 200px;
    border-radius: 5px;
 
    }

  .container_summary li{
    text-decoration: none;
    height:50px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #46426E;
   text-align: center;
   font-size: 25px;
   margin-top: -70px;

  }
  .container_summary a:hover{
    color:white;

  }
  .container_summary a{
    color:white;
    font-weight: bold;
  }
  tbody{
   font-size: 19px;
   font-weight: bold;
   color:white;
   text-align: center;
   box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  }
  thead{
    text-align: center;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
   }
   table{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
   }
  .containerLinkAdmin{
    width:100%;
    background-color: #FF3144;
   }

   .containerLinkCreateAdmin{
    background-color:#6ca766;
    text-align: center;
  }
  .containerLinkCreateAdmin:hover{
    background-color:#4e7a49;

  }

  .inputUpdate{
    margin-top: 8%;
    margin-bottom: 3%;
    padding-top: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
  }

  .buttonStandardUpdate{
    margin-right: 30%;
  }

  .inputCreate{
    margin-top: 4%;
    margin-bottom: 3%;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
  }

  #good_answer{
    margin-left: 10%;
    background-color: #157347;
    color:white;
    padding: 2px;
    border-radius: 20%;
  }

  #answer_show{
    margin-left: 8%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
  }
  .question_show_div{
    display: flex;
  }
  #question_show{
    font-size: 20px;
    font-style: italic;
    display: flex;
    margin-bottom: 5%;
  }
  .question_show_span{
    margin-right: 1%;
    font-size: 20px;
    font-style: italic;
    display: flex;
    margin-bottom: 5%;
    white-space: nowrap;
    text-decoration: underline;
  }
.answerUpdate{
  margin-left: 10px;
  width:100%;

}
.questionUpdate{
  margin-left: 10px;
  width:76.5%;

}
.questionUpdate form{
  display:flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.inputAnswersUpdate{
  border-radius: 5px;
  border:none;
  font-size: 19px;
}

.inputQuestionUpdate{
  border-radius: 5px;
  border:none;
  padding:5px;
  margin-top: -9px;
  font-size: 19px;
}
.answerUpdate form{
  display:flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.form-select{
  padding:8px 1px;
  width:170px;
  
}

  /* *************************************************************************************************************** */
.containerPlayer{
  height:400px;
  display: flex;
  justify-content: center;
 
}

.containerButtonPlayer{
  margin-top: 15%;

}



/* .containerCategorie button{
  margin-left: 80%;
  padding:20px 10px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform-origin: 50% 50%;

} */
.link{
  text-decoration: none;
  color:white;
}
/* 

@keyframes rotating {
  from{
     transform: rotate(0deg);
  }
  to{
     transform: rotate(360deg);
  }
}

.rotating {
 animation: rotating 2s linear infinite;
} */

.homeContainer{
background-color: azure;
}

.timer{
  border-radius: 50%;
  background-color:#157347;
  width:80px;
  height:80px;
  color:yellow;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-left: 100%;
}

.timer p{
  padding-top:25%;
  font-size: 25px;
}

.progress{
  padding: 0;
  height:20px;
  color:black;
  font-size: 25px;
  animation: 1s linear infinite;
  transition:width .6s ease ;
  height: 35px;
}

@media screen and (min-width:1200px) and (max-width: 1550px){
  .titleNav{
    margin-left:350px;
  }

  .identifiantNav{
    margin-left:10%;
    margin-top:1%;

  }

  .containerPlayer{
    background-size:contain;
  
  }

  .containerStart{
    background-size:700px;
    background-position:50% 2%;
    padding-bottom: 20%;
  }

  .playButton{
    padding:35px 20px;
  }

  .buttonPlayerContainer{
    margin-left: 15%;
    margin-top: 8%;
  }

  .container{
    margin-top: 0%;
  }

  .containerBody{
    padding-top: 1%;
    padding-bottom: 2%;
  
  }
  .containerButtonStandard{
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 2%;
  
  }

  .containerTeamBuilding{
    background-size:contain;
    padding-bottom:2.5%;
  }

  .containerTeam{

    padding-bottom: 30px;
    padding-top: 0px;
    margin-top: 1%;
    margin-left: 3%;

  }
  
.containerTeam label{
  font-size: 21px;
}
.containerTeam h2{
  font-size: 30px;
}
.containerTeam h1{
  font-size: 30px;
}
.avatar_button{
  width: 75px;
  height:75px;
 
}


.color_button{
  width:75px;
height:75px;
margin-bottom: 15px;
margin-top: 15px;

}

.buttonGame{
  width:100px;
  height: 100px;
  margin-top: 53px;
  font-size: 20px;
}

.containerButtonGame{

margin-top:-70px;
}
.itemNavTeam{
  margin-left: 85%;

}

.containerTeamBuildingResultRandom{

  padding-bottom:0%;
}


.containerTeamRandom{
  background-color: rgb(70, 66, 110);
  text-align: center;
  padding-left:50px;
  padding-right:50px;
  padding-top: 20px;
  margin-top: 2%;
  margin-left: 0%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
}

.containerTeamRandomdiv img{
  width:300px;

}


.containerbuttonRandom{
  height:100px;
  width:100px;
  padding-top: 3.5%;
  font-size: 17px;
  margin-bottom: 3%;
  
}

.bonnet{
  float:right;
  position: absolute;
  margin-left: 24.5%;
  margin-top: -5.7%;
  width:150px;
  }

  .linkGame{
    padding: 30px 20px;
    font-size: 20px;
    margin-left: 78%;
  }

  .color_button_random{
    width:90px;
  height:90px;
  margin-bottom: 1.5%;
  }

  .containerCategorieGame{
  padding:2%;
  margin-top: 10px;

}

.containerCategorieButton{
  margin:20px;
  font-size: 35px; 
  height: 110px;

}

.containerCategorieButtonUsed{
  margin:20px;
  font-size: 35px; 
  height: 110px;
}

.containerTeamBuildingCategorie{
  padding-bottom:0%;
}

.containerCategorie{
  padding:30px;
  margin-top: 1%;
  width:800px;
}

.container_question2{

  width:800px;
  margin-left: 5%;
  margin-top: -1%;
}


.containerQuizQA{
  padding: 40px;
  margin-top: 1%;
  min-height: 580px;
  background-image: url('./pictures/loading2.gif');
  background-repeat:no-repeat;
  background-position:50% 75%;
  background-size:30%;

}

.containerQuizQA h1{
  margin-top: 30px;

}


.containerQuizQA h4{
  font-size: 22px;;
}

.form-check-label{
  font-size: 18px;;
}

.containerButtonQuiz{
  margin-left: 80%;
  margin-top: 1%;
}

.progress{

  height: 25px;
}

.containerResultText{
  width:90%;

}

.container-result{
  width:90%;
}

.container-result h5{
  font-size: 19px;
}

.containerResultText h1{
  font-size: 30px;
}

.containerResult{
  padding-bottom: 2%;

}
.containerResultTeam{
  margin-top: 2%;
  margin-bottom: 2%;
}

.containerResultFinalGame{

  padding-bottom: 0%;
}

.containerTeamBuildingContinueGame{

  padding-bottom:0%;
}

.containerButtonGameContinue{

  width: 18%;
margin-top:-10%;

}

.containerAvatarPresentationTitle h2{
  margin-top: 2.5%;
}

.container_summary ul{

  margin-left: 5%;
  width:90%;

  }

  .containerCategorieQA{
    padding:80px;
    margin-top: 30px;
    width:80%;
  }

  .containerHome{
    margin-left:31%;
    margin-top:7%;
    height:430px;
  }
  .containerTeamBuildingMax{
     padding-bottom:0%;
  }

  .containerTeamMax{

    padding-bottom: 0px;
    margin-left:5%;

  }

  .containerTeamMax img{

    width:350px;
    margin-left: 10%;
  }

}

@media screen and (min-width:480px) and (max-width: 1100px){

  .titleNav{
    margin-left:100px;
    font-size: 30px;
  }

  .identifiantNav{
    margin-left:-40%;
    margin-top:9%;

  }

  .containerPlayer{
    background-size:contain;
  
  }

  .containerStart{
    background-size:800px;

    background-position:50% 2%;
    padding-bottom: 30%;
  }

  .playButton{
    padding:35px 20px;
  }

  .buttonPlayerContainer{
    margin-left: 30%;
    margin-top: 18%;
  }

  .container{
    margin-top: 0%;
  }

  .containerBody{
    padding-top: 1%;
    padding-bottom: 2%;
  
  }
  .containerButtonStandard{
    margin-left: 25%;
  
  }

  .containerTeamBuilding{
    background-size:contain;
    padding-bottom:2.5%;
  }

  .containerTeam{

    padding-bottom: 30px;
    padding-top: 0px;
    margin-top: 1%;
    margin-left: 3%;

  }
  
.containerTeam label{
  font-size: 21px;
}
.containerTeam h2{
  font-size: 30px;
}
.containerTeam h1{
  font-size: 30px;
}
.avatar_button{
  width: 75px;
  height:75px;
 
}


.color_button{
  width:70px;
height:70px;
margin-bottom: 15px;
margin-top: 15px;

}

.buttonGame{
  width:80px;
  height: 80px;
  margin-top: 52px;
  font-size: 17px;
}

.containerButtonGame{
width:16%;
margin-top:-90px;
margin-left:75%;
}

.containerRulers h4{
  font-size: 18px;
}
.itemNavTeam{
  margin-left: 25%;


}
.titleNavTeam{
  font-size: 32px;
}
.avatar_button_nav{
  width:80px;
  margin-top:-3%;
}
.containerTeamBuildingResultRandom{

  background-size:cover;
}


.containerTeamRandom{
  background-color: rgb(70, 66, 110);
  text-align: center;
  padding-left:50px;
  padding-right:50px;
  padding-top: 20px;
  margin-top: 2%;
  margin-left: 0%;
  border-radius:5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color:white;
}

.containerTeamRandomdiv img{
  width:300px;

}


.containerbuttonRandom{
  height:100px;
  width:100px;
  padding-top: 3.5%;
  font-size: 17px;
  margin-bottom: 3%;
  
}

.bonnet{
  float:right;
  position: absolute;
  margin-left: 43%;
  margin-top: -9%;
  width:120px;
  }

  .linkGame{
    padding: 25px 15px;
    font-size: 20px;
    margin-left: 76%;
  }

  .color_button_random{
    width:75px;
  height:75px;
  margin-bottom: 1.5%;
  }

  .containerCategorieGame{
  padding:2%;
  margin-top: 5px;

}
.containerTeamRandomResultRandom{
  padding-bottom: 5%;
}
.containerCategorieButton{
  margin:5px;
  font-size: 30px; 
  height: 80px;

}

.containerCategorieButtonUsed{
  margin:5px;
  font-size: 35px; 
  height: 80px;
}


.containerTeamBuildingCategorie{
  padding-bottom:0%;
}

.containerTeamBuildingCategorieUsed{
  background-size:cover;
  }
  

.containerCategorie{
  padding:30px;
  margin-top: 1%;
  width:800px;
}

.container_question2{

  width:530px;
  margin-left: 5%;
  margin-top: 10%;
}


.containerQuizQA{
  padding: 40px;
  margin-top: 1%;
  min-height: 580px;
  background-image: url('./pictures/loading2.gif');
  background-repeat:no-repeat;
  background-position:50% 75%;
  background-size:25%;
  width:90%;
  margin-left: 5%;

}

.containerQuizQA h1{
  margin-top: 25px;

}


.containerQuizQA h4{
  font-size: 18px;
}

.form-check-label{
  font-size: 15px;;
}

.containerButtonQuiz{
  margin-left: 80%;
  margin-top: 6%;
}

.progress{

  height: 20px;
  font-size: 18px;
}

.containerResultText{
  width:90%;

}

.container-result{
  width:90%;
  margin-left: 5%;
}

.container-result h5{
  font-size: 17px;
}

.containerResultText h1{
  font-size: 25px;
}

.containerResult{
  padding-bottom: 2%;

}

.linkStandardContainerResult{
  margin-left:25%;
  margin-top: 2%;
}
.containerResultTeam{
  margin-top: 2%;
  margin-bottom: 2%;
  width:90%;

}

.containerResultTeam td{
  font-size: 18px;
}

.containerResultTeam th{
  font-size: 18px;
}
.containerLinkResult{
  width:100%;
  margin-left:0%;
}
.containerResultFinalGame{

  padding-bottom: 0%;
  background-size: cover;

}
.containerProposeLeave{
  width:90%;
  padding-left:10%;
  padding-right:10%;
  padding-bottom: 27%;
}

.containerButtonProposeLeave{
  width:100%;
  margin-left: 0%;

}
.containerTeamBuildingContinueGame{

  padding-bottom:0%;
}

.containerButtonGameContinue{

  width: 18%;
margin-top:-13%;

}

.containerAvatarPresentationTitle h2{
  margin-top: 2.5%;
  font-size: 28px;
}

.containerTeamBuildingMax{
  padding-bottom:37%;
}

.containerTeamMax{

 padding-bottom: 0px;
 margin-left:5%;

}

.containerTeamMax img{

 width:300px;
 margin-left: 10%;
}
}